*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    width: 70%;
    margin: auto;
}

header{
    text-align: center;
    padding: 30px 0;
}

h1{
    color: #e53170;
    padding-bottom: 30px;
}

.row{
    margin: 5 px;
}

.row::after{
    color: "";
    display: table;
    clear: both;
}

.card{
    background-color: #0f0e17;
    width: calc(100%/3 - 20px);
    height: 150px;
    margin: 0 10px;
    margin-bottom: 20px;
    float: left;
}

.card::after{
    color: "";
    display: table;
    clear: both;
}

img{
    float: left;
    width: 40%;
}

.name{
    display: block;
}

.work{
    display: block;
}

.mail{
    float: left;
    font-size: 15px;
    color: rgb(61, 191, 235);
    padding: 10px 0;
}

.name, .work{
    color: white;
    padding: 10px 0;
}
