*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    width: 70%;
    margin: auto;
}

header{
    text-align: center;
    padding: 30px 0;
}

h1{
    color: #e53170;
    padding-bottom: 30px;
}

.row{
    margin: 5 px;
}

.row::after{
    color: "";
    display: table;
    clear: both;
}

.card{
    background-color: red;
    border: 1px solid black;
    width: calc(100%/3 - 10px);
    height: 150px;
    float: left;
}

